.twitter-follow-button{
    text-align: center;
    padding: 1rem;
}
.twitter-mention-button{
    text-align: center;
    padding: 1rem;
}
.twitter-timeline{
    text-align: center;
    padding: 1rem;
}